 @import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
        

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orelega One', cursive;
}

/* Barra superior verde */
.top-bar {
    height: 60px;
    background-color: #0a7a3b;
}

/* Fundo geral */
body {
    margin: 0;
    font-family: 'Orelega One', cursive;
    background-color: #f4f4f4;
}

/* Campo */
.campo1 {
    width: 70%;
    justify-content: center;
    text-align: left;
}

.campo {
    height: 12%;
}


.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

/* Botão */
.botao{
    margin-top: 25px;
    margin-left: 5px;
    width: 25%;
    background-color: #1c1c1c;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}
