 @import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orelega One', cursive;
}

.top-bar {
    height: 60px;
    background-color: #0a7a3b;
}

body {
    margin: 0;
    font-family: 'Orelega One', cursive;
    background-color: #f4f4f4;
}

.campo {
    justify-content: left;
    text-align: left;
    margin-left: 10px;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botao {
    margin-top: 70px;
    margin-left: 5px;
    width: 25%;
    background-color: #1c1c1c;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.titulo {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bold;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 20px;
}

.texto {
    margin-left: 305px;
    margin-top: 100px;
    text-align: left;
}
