 @import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
        
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Barra superior verde */
.top-bar {
    height: 60px;
    background-color: #0a7a3b;
}

/* Fundo geral */
body {
    margin: 0;
    font-family: 'Orelega One', cursive;
    background-color: #f4f4f4;
}

/* Container central */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;

}

/* Card principal */
.cadastro-card {
    width: 420px;
    background-color: #ffffff;
    padding: 30px 25px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    width: 100%;
    height: 100%;
}

/* Título */
.cadastro-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Subtítulo */
.cadastro-subtitulo {
    font-size: 13px;
    color: #555;
    margin-bottom: 25px;
}

/* Conteúdo */
.cadastro-conteudo {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Campo */
.campo {
    display: flex;
    flex-direction: column;
}

/* Label */
.campo label {
    font-size: 12px;
    color: #333;
    margin-bottom: 4px;
}

/* Input */
.campo input {
    height: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    padding: 2px 6px;
    font-size: 12px;
}

/* Botão */
.botao-confirmar {
    margin-top: 25px;
    width: 100%;
    background-color: #1c1c1c;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}

/* Hover botão */
.botao-confirmar:hover {
    background-color: #000;
}