        @import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
        
        body {
            margin: 0;
            font-family: 'Orelega One', cursive;
            background-color: #f2f2f2;
        }

        /* Barra verde superior */
        .top-bar {
            height: 60px;
            background-color: #0a7a3b;
        }

        .container {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 100px;
        }

        .login-box {
            background-color: #fff;
            width: 350px;
            padding: 30px;
            text-align: center;
            border-radius: 6px;
        }

        .login-box img {
            width: 60px;
            margin-bottom: 10px;
        }

        .login-box h2 {
            margin-bottom: 20px;
        }

        .input-group {
            margin-bottom: 15px;
            justify-content: center;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #f3e0c7;
            font-size: 14px;
            justify-content: center;
        }

        .btn-login {
            width: 100%;
            padding: 10px;
            background-color: #3b2314;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .links {
            margin-top: 15px;
            font-size: 13px;
        }

        .links a {
            display: block;
            color: #000;
            text-decoration: none;
            margin-top: 5px;
        }

        .links a:hover {
            text-decoration: underline;
        }